.cover1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("apart/images/img_3.jpg");
    background-size: cover;
    height: 900px;
}

.navbar-toggler{
    background-color: white;
}

h1 {
    font-size: 4rem;
    color: #fff;
    font-family: Oswald;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.2;
}

.team-member .text {
    visibility: hidden;
}

.team-member:hover .text {
    visibility: visible;
    animation: fadeInUp 2s;
}


.tat {
    color: white;
    background: #e3c4a8;
}

.tat:hover {
    background: #d6b79b;
    color: white;
}

h5 {
    font-family: Oswald;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
}

.crd-content {
    font-family: Nunito Sans;
    color: #333;
    margin-bottom: 3rem;
    line-height: 1.5;
}

h2 {
    font-family: Oswald;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.2em;
    display: inline-block;
    margin-bottom: 20px;
    text-transform: uppercase;
}

hr {
    border-top: 3px solid #e3c4a8;
    margin-top: 0px;
    width: 85px;
}

.unit-9 {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
    display: block;
    overflow: hidden;
}

.unit-9 .image {
    background-size: cover;
    background-position: center center;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    height: 300px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.unit-9 .unit-9-content {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    position: absolute;
    bottom: 0;
}

.unit-9 h2 {
    background: #e3c4a8;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
}

.unit-9 span {
    background: #000;
    display: block;
    color: #fff;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 11px;
    letter-spacing: .15em;
    text-transform: uppercase;
}

.unit-9:hover .image {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.site-block-retro .col1, .site-block-retro .col2 > a {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.site-block-retro .col1, .site-block-retro .col2 {
    width: 48%;
}

@media (max-width: 767.98px) {
    .site-block-retro .col1, .site-block-retro .col2 {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .site-block-retro .col1 {
        height: 300px;
        margin-bottom: 8%;
    }
}

.site-block-retro .col2 > a {
    display: block;
    height: 300px;
}

.site-block-retro .col2 > a:first-child {
    margin-bottom: 8%;
}

#test{
    margin-top: 500px ;
}


@media only screen and (max-width:1000px){
    #test {
        margin-top: 700px;
    }
}


@media only screen and (max-width: 600px) {
    #test {
        margin-top: 710px;
    }
}
